body, html {
  height: 100%;
  background-color: #293241;
  text-align: center;
}

.centeredlogo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-info, .btn-outline-info:hover {
  background-color: #EE6C4D;
  border: #EE6C4D;
}

.btn {
    background-color: none;
    border-color: #EE6C4D;
    color: #EE6C4D;
    margin: 5px 0px 0px 0px;
}

